body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    
}

.title {
  color: #534340;
  font-size: 60px;
  margin: 50px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

h1 {
  color: #534340;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Quicksand', sans-serif;
}

p {
  color: #534340;
  font-size: 20px;
}
img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#like {
  background-color: #FF6363; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
}

#nope {
  background-color: #008CBA; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 3px;
}

label {
  font-size: 20px;
}

select {
  font-size: 16px;
}

#extra {
    display: none;
    margin: auto;
    font-size: 16px;
}

div {
    margin-bottom: 20px;
}

.extraImg {
  display: none;

}

/* paw print CSS code */
.parent-paw-div {
    z-index: -1;
    position: absolute;
    display:flex;
    top:0; 
    bottom:0; 
    right:0; 
    left:0;
}
.pad {
    width: 25px;
    height: 27px;
    background-color: #3e3124;
    -webkit-border-radius: 63px 63px 63px 63px / 108px     108px 72px 72px;
    border-radius: 50%  50%  50%  50%  / 60%   60%         40%  40%;
    display: block;
    position: absolute;
}       
.large {
   width: 70px;
   height: 80px;
   transform: rotate(80deg);
   left: 100px;
   top: 50px;
} 
.small-1 {
   transform: rotate(50deg);
   left: 145px;
   top: 28px;
}
.small-2 {
   transform: rotate(65deg);
   left: 174px;
   top: 50px;
}  
.small-3 {
   transform: rotate(98deg);
   position: absolute;
   left: 178px;
   top: 87px;
}
.small-4 {
   transform: rotate(140deg);
   position: absolute;
   left: 158px;
   top: 117px;
}
    
/* position and animate */
    
.paw-print-1 {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 320px;
  transform: rotate(-40deg);
  -webkit-animation: walk 3s linear infinite;
  animation: /*keyframe*/walk /*duration*/3s /*transition*/linear /*repeat*/infinite;
}
.paw-print-2 {
  opacity: 0;
  position: absolute;
  left: 12.5%;
  top: 300px;
  transform: rotate(-5deg); 
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/0.25s;
}
.paw-print-3 {
  opacity: 0;
  position: absolute;
  left: 22%;
  top: 150px;
  transform: rotate(-10deg); 
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}     
.paw-print-4 {
  opacity: 0;
  position: absolute;
  left: 35%;
  top: 300px;
  transform: rotate(-20deg); 
  -webkit-animation: walk 3s linear infinite 0.75s;
  animation: walk 3s linear infinite 0.75s;
}    
.paw-print-5 {
  opacity: 0;
  position: absolute;
  left: 53%;
  top: 70px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1s;
  animation: walk 3s linear infinite 1s;
}   
.paw-print-6 {
  opacity: 0;
  position: absolute;
  left: 62.5%;
  top: 220px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.25s;
  animation: walk 3s linear infinite 1.25s;
}   
.paw-print-7 {
  opacity: 0;
  position: absolute;
  left: 75%;
  top: 70px;
  transform: rotate(20deg); 
  -webkit-animation: walk 3s linear infinite 1.5s;
  animation: walk 3s linear infinite 1.5s;
}   
.paw-print-8 {
  opacity: 0;
  position: absolute;
  left: 85%;
  top: 270px;
  transform: rotate(10deg); 
  -webkit-animation: walk 3s linear infinite 1.75s;
  animation: walk 3s linear infinite 1.75s;
}

    
@-webkit-keyframes walk {
  25%  {opacity: 1;}
  100% {opacity: 0;}
}
    
@keyframes walk {
  25%  {opacity: 1;}
  100% {opacity: 0;}
}

